@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body{
	max-width: 100%;
	overflow-x: hidden;
}

*{
	margin:0; 
	padding:0; 
	font-size:16px; 
	font-family: 'Noto Sans KR', sans-serif;
}
.clear{clear:both;}
.clearfix::after{
	content:"":
	display:block;
	clear:both;
}
body{
	overflow-x:hidden;
	background:url("../img/bodybg.png") no-repeat 20% 20%;
	background-size:45% auto;

}
ul{list-style-type:none;}
a{text-decoration:none;}

/* ===== header ===== */
header{
	width:100%;
	padding:3.5vw 0;
	position:relative;
	z-index:100;
}

.h_inner{
	margin:0 13.5%;
}

#mainlogo{
	float:left;
}
#mainlogo img{
	width:100%;
	height:100%;
}
#mainlogo_m{
	display:none;
}
nav{
	float:left;
	margin-left:calc(50% - 380px);
	margin-top:-0.8vw;
}
.nav_bar{
	display:none;
}
.nav_bar_menu{
	display:none;
}
.nav_bar_menu_s{
	display:none;
}
.gnb li{
	float:left;
	width:140px;
	text-align:center;
	position:relative;
}
.gnb li a{
	display:block;
	padding:10px 0;
	color:#fff;
	font-weight:500;
}
.gnb li.on a{
	color:#e72f2c;
	font-weight:600;
}
.gnb li.on::after{
	content:"";
	position:absolute;
	top:16%;
	left:calc(50% - 60px);
	width:120px;
	height:30px;
	background-color:#fff;
	border-radius:15px;
	z-index:-1;
}

.right_btn{
	float:right;
}

.lang{
	width:30px;
	height:30px;
	background:url("../img/lang.png") no-repeat center 1px;
	float:left;
	margin-right:40px;
	cursor:pointer;
	position:relative;
}
.lang:hover .lang_sub{
	-display:block;
}

.lang_sub{
	width:50px;
	background-color:rgba(255,255,255,0.5);
	margin-top:30px;
	padding:12px;
	position:absolute;
	left:-20px;
	text-align:center;
	display:none;
}

.lang_sub li:first-child{
	margin-bottom:5px;
}

.lang_sub a{
	color:#333;
	font-weight:500;
	font-size:14px;
}

.lang_sub li:hover a{
	text-decoration:underline;
}
.goside{
	width:21px;
	height:20px;
	float:left;
	background:url("../img/side.png") no-repeat;
	border:none;
	cursor:pointer;
	background-color:none;
}

/* ===== sideinfo ===== */
#sideinfo{
	position:fixed;
	top:0;
	right:0;
	width:21%;
	height:100vw;
	background-color:#e72f2c;
	display:none;
	z-index:100;
	box-shadow:0px 3px 8px rgba(0,0,0,0.4);
}

.closeinfo{
	width:20px;
	height:20px;
	border:none;
	background:url("../img/close.png") no-repeat center center;
	cursor:pointer;
	margin-top:30%;
	margin-left:82%;
}
.topinfo{
	width:85%;
	border-bottom:1px solid #fff;
	margin:0 auto;
	padding-bottom:10%;

}
.tf_text1{
	color:#fff;
	font-size:1.8vw;
	font-weight:500;
}
.tf_text2{
	color:rgba(255,255,255,0.7);
	font-size:1vw;
}

.stock_more{
	width:100%;
	text-align:right;
	background:url("../img/sidemore.png") no-repeat right 70%;
	background-size:5% auto;
	margin-top:8%;
}
.stock_more a{
	width:90%;
	color:#fff;
	font-size:0.9vw;
	position:relative;
	display:block;
}
.stock_more a:hover{
	text-decoration:underline;
}

.bottominfo{
	width:85%;
	margin:8% auto 0;
}

.bf_text1{
	color:#fff;
	font-size:1.8vw;
	font-weight:500;
}

.news_contents{
	margin-top:0%;
	box-sizing:border-box;
}
.news_contents li{
	border-bottom:1px solid #fff;
}
.news_contents li a{
	color:rgba(255,255,255,0.5);
	font-size:1vw;
	padding:6% 0;
	display:block;
}
.news_contents li.alert a{
	color:#fff;
}

.news_more{
	width:100%;
	text-align:right;
	background:url("../img/sidemore.png") no-repeat right 70%;
	background-size:5% auto;
	margin-top:5%;
}
.news_more a{
	width:90%;
	color:#fff;
	font-size:0.9vw;
	position:relative;
	display:block;
	

}
.news_more a:hover{
	text-decoration:underline;
}

#sidemenu{
	display:none;
}


/* ===== top 제목 ===== */
#intro_top{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:16% 0;
	background:url("../img/introbg.png") no-repeat center center;
	background-size:cover;
	
}
.it_text{
	text-align:center;
	font-size:1vw;
	color:#fff;
}
.it_text1{
	font-size:3.5vw;
	font-weight:500;
	letter-spacing:0.2vw;
}

.menu_tab{
	width:15%;
	margin:2vw auto 0;
}
.menu_tab li{
	float:left;
	width:45%;
	text-align:center;
	position:relative;
}
.menu_tab li:first-child{
	margin-right:0.5vw;
}
.menu_tab li:last-child{
	margin-left:0.9vw;
}
.menu_tab li a{
	display:block;
	padding:0.5vw 0;
	color:#fff;
	z-index:1;
	position:relative;
	font-size:0.8vw;
}

.menu_tab li a:hover{
	text-decoration:underline;
}
.menu_tab li.mt_on a{
	font-weight:600;
	background-color:#fff;
	color:#e72f2c;
}

/* ===== #sect1 ===== */
#sect1{
	margin-top:45%;
	padding-left:13.8%;
}
.sect1_text1{
	font-size:1.8vw;
	font-weight:500;
	line-height:2.5vw;
}
.sect1_text2{
	padding-top:1vw;
	font-size:0.8vw;
	line-height:1.6vw;
	color:#7c7c7c;
}

/* ===== #sect2 ===== */
#sect2{
	width:60%;
	float:right;
	margin-top:15vw;

}
.sect2_img img{
	width:100%;
	height:auto;
}
.sect2_text1{
	color:#7c7c7c;
	text-align:right;
	padding:0.5vw 1vw;
	font-size:0.8vw;
}
.sect2_text2{
	color:#7c7c7c;
	font-size:0.8vw;
}

/* ===== #sect3 ===== */
#sect3{
	float:right;
}
#sect3 p{
	font-size:1.8vw;
	font-weight:500;
	padding-right:3vw;
	margin-top:4.5vw;
	width:40vw;
	text-align:right;
}
.sect3_color{
	font-size:1.8vw;
	font-weight:500;
	color:#e72f2c;
}

/* ===== history ===== */
#sect_history{
	padding:10% 13.8%;
}

.sh_text1{
	font-size:1.4vw;
	font-weight:700;
	color:#e72f2c;
	display:block;
	padding:2.5vw 0;
}
.history{
	overflow:hidden;
	margin-bottom:5vw;
	width:60%;

}

.hd_photo img{
	width:100%;
	height:100%;
}
.history_right{
	overflow:hidden;
	margin-bottom:5vw;
	width:60%;
	margin-left:40%;
}

.history .year{
	float:left;
	font-size:1.4vw;
	font-weight:500;
	margin-right:5vw;
	position:relative;
}
.history .year::after{
	content:"";
	display:block;
	position:absolute;
	right:-80%;
	top:calc(50% - 10%);
	width:20%;
	height:30%;
	background-color:#e72f2c;
	border-radius:50%;
}

.history .h_detail{
	float:left;
	position:relative;
}
.history .h_detail::after{
	content:"";
	position:absolute;
	top:10%;
	left:-8.7%;
	width:0.05vw;
	height:60vh;
	background-color:#dbdbdc;
}

.history_right .year{
	float:right;
	font-size:1.4vw;
	font-weight:500;
	margin-left:5vw;
	position:relative;
}
.history_right .year::after{
	content:"";
	display:block;
	position:absolute;
	left:-100%;
	top:calc(50% - 10%);
	width:19%;
	height:30%;
	background-color:#e72f2c;
	border-radius:50%;
}

.history_right .h_detail{
	float:left;
	position:relative;
}
.history_right .h_detail::after{
	content:"";
	position:absolute;
	top:10%;
	right:-10.6%;
	width:0.05vw;
	height:60vh;
	background-color:#dbdbdc;

}

table.month{
	border-collapse:collapse;
}

table.month td{
	font-size:0.8vw;
}
table.month td:first-child{
	padding:1vw 1vw 0 0;
}
table.month td:last-child{
	color:#7c7b7c;
	padding:1vw 1vw 0 0;
}

/* ===== ethics ===== */
#ethics{
	padding:0 25% 32vw;
}

.ethics_title{
	font-size:1.4vw;
	font-weight:700;
	color:#e72f2c;
	display:block;
	padding:0 0 2.5vw;
}

.eth_left{
	float:left;
	width:50%;
	height:25vw;
}
.eth_photo{
	float:right;
	width:33%;
	height:25vw;
	margin-top:2vw;
}
.eth_photo{
	background:url("../img/ethic.jpg") no-repeat 70% center;
	background-size:cover;
}
.eth_left li{
	box-sizing:border-box;
	width:100%;
	height:25%;
	padding-left:25%;
	padding-top:5%;
	font-size:0.8vw;
	line-height:1.5vw;
	margin-bottom:1vw;
}
.el_color{
	display:block;
	color:#e72f2c;
	font-weight:600;
	font-size:0.8vw;
}
.eth_left li:nth-child(1){
	background:url("../img/eth1.png") no-repeat 5% center;
	background-size:15% auto;
}
.eth_left li:nth-child(2){
	background:url("../img/eth2.png") no-repeat 5% center;
	background-size:15% auto;
}
.eth_left li:nth-child(3){
	background:url("../img/eth3.png") no-repeat 5% center;
	background-size:15% auto;
}
.eth_left li:nth-child(4){
	background:url("../img/eth4.png") no-repeat 5% center;
	background-size:15% auto;
}

/* ===== NHN 회사정보 #info ===== */
#info{
	-border:1px solid #e72f2c;
	padding:10% 13.8%;
}
.info_text{
	float:left;
	font-size:1vw;
	font-weight:600;
	width:11%;
}
.info_table{
	float:left;
	border-top:3px solid red;
	width:75%;
	margin-left:7vw;
	border-collapse:collapse;
}
.info_table tr{
	display:block;
	padding:2vw 0;
	border-bottom:1px solid #dbdbdc;
}
.info_table td{
	display:inline-block;
	font-size:0.8vw;
}
.info_table td:first-child{
	margin-right:7vw;
	font-weight:500;
}
.info_table td:last-child{
	color:#7c7c7c;
}

/* ===== 다운로드 ===== */
#download{
	padding:10% 13.8%;
	
}
.down{
	overflow:hidden;
	padding:3% 0;
}
.down_title{
	float:left;
	font-size:1vw;
	font-weight:600;
	width:10vw;
}
.down_right{
	float:left;
	margin-left:5vw;
	width:70%;
}

.down_link{
	float:left;
	width:12vw;
	text-align:center;
}

.down_link a{
	display:block;
	padding:0.8vw 0;
	color:#000;
	border:1px solid #dbdbdc;
	transition:background-color 0.2s;
	font-size:0.8vw;
}
.down_link.dk_on a{
	background-color:#e72f2c;
	color:#fff;
	border:1px solid #e72f2c;
}


.down_link:first-child{
	margin-right:5vw;
}

/* ===== go top 버튼 ===== */
.go_top{
	position:fixed;
	right:0;
	bottom:0;
}
.go_top button{
	padding:0.8vw 1vw;
	display:block;
	cursor:pointer;
	color:#e72f2c;
	background-color:#fff;
	border:none;
	font-weight:100;
	font-size:1.2vw;
	border:1px solid #e72f2c;
}
.go_top button:hover{
	background-color:#e72f2c;
	color:#fff;
}


/* ===== footer ===== */

footer{
	border-top:1px solid #dbdbdc;
	padding:2% 13.8%;
	overflow:hidden;
}
.f_logo{
	float:left;
	margin-top:1vw;
	width:4vw;
}
.f_logo img{
	width:100%;
	height:auto;
} 
.footer_link{
	float:left;
	margin-top:0.8vw;
	margin-left:5vw;
}
.footer_link li{
	float:left;
}
.footer_link li:first-child{
	margin-right:2vw;
	position:relative;
}

.footer_link li:first-child::after{
	content:"";
	position:absolute;
	display:block;
	top:0.3vw;
	right:-1vw;
	width:0.05vw;
	height:1.5vh;
	background-color:#c0bfbf;

}

.footer_link li a{
	color:#c0bfbf;
	font-size:0.8vw;
}
.footer_link li a:hover{
	color:#000;
}

.footer_sns{
	float:right;
	width:15%;
	text-align:right;
	margin-top:0.8vw;
}
.footer_sns li{
	float:left;
	width:33.3%;
	text-align:right;
}


/* ===== 반응형 ===== */
@media all and (max-width:1300px){
	.h_inner{
		margin:0 8%;
	}
	.lang{
		margin-right:30px;
	}
	
	nav{
		display:none;
	}
	#mainlogo{
		display:none;
	}
	#mainlogo_m{
		margin-left:calc(50% - 7%);
		float:left;
		display:block;
		width:10%;
		text-align:center;
	}

	.nav_bar{
		display:block;
		float:left;
		width:21px;
		height:19px;
		background:url("../img/ham.png") no-repeat;
		background-size:cover;
		cursor:pointer;
	}
	.nav_bar_s{
		display:none;
	}
	.nav_bar_menu{
		display:none;
		position:absolute;
		top:46%;
		left:8%;
	}
	.nav_bar_menu li{
		float:left;
		margin-right:2vw;
	}
	.nav_bar_menu li a{
		color:#fff;
		font-size:1.4vw;
		font-weight:500;
	}
	.nav_bar_menu li a:hover{
		text-decoration:underline;
	}
	#sidemenu{
		position:fixed;
		-display:block;
		left:0;
		top:0;
		background-color:#fff;
		width:25%;
		height:100%;
		z-index:100;
	}
	.it_text{
		text-align:center;
		font-size:1.6vw;
		color:#fff;
	}
	.it_text1{
		font-size:4vw;
		font-weight:500;
		letter-spacing:0.2vw;
	}
	.menu_tab{
		width:20%;
		margin:2vw auto 0;
	}

	.menu_tab li a{
		display:block;
		padding:0.5vw 0;
		color:#fff;
		z-index:1;
		position:relative;
		font-size:1.2vw;
	}
	.menu_tab li.mt_on a{
		font-weight:600;
		background-color:#fff;
		color:red;
	}

	/* ===== sect1 ===== */
	#sect1{
		margin-top:50%;
		padding-left:8%;
	}
	.sect1_text1{
		font-size:3vw;
		font-weight:500;
		line-height:3.8vw;
	}
	.sect1_text2{
		padding-top:1vw;
		font-size:1.2vw;
		line-height:2.2vw;
		color:#7c7c7c;
	}

	/* ===== #sect2 ===== */
	#sect2{
		width:70%;
		float:right;
		margin-top:20vw;

	}
	.sect2_img img{
		width:100%;
		height:auto;
	}
	.sect2_text1{
		color:#7c7c7c;
		text-align:right;
		padding:0.5vw 1vw;
		font-size:1.2vw;
	}
	.sect2_text2{
		color:#7c7c7c;
		font-size:1.2vw;
	}
	
	/* ===== #sect3 ===== */
	#sect3 p{
		font-size:3vw;
		font-weight:500;
		padding-right:3vw;
		margin-top:4.5vw;
		width:100vw;
		text-align:right;
	}
	.sect3_color{
		font-size:3vw;
		font-weight:500;
		color:#e72f2c;
	}

	/* ===== history ===== */
	body{
		overflow-x:hidden;
		background:url("../img/bodybg.png") no-repeat 20% 17.5%;
		background-size:45% auto;
	}

	#sect_history{
		padding:10% 8%;
	}

	.sh_text1{
		font-size:2vw;
		font-weight:700;
		color:#e72f2c;
		display:block;
		padding:2.5vw 0;
		margin-bottom:2vw;
	}

	.history .year{
		float:none;
		font-size:2vw;
		font-weight:500;
		margin-right:none;
		margin-bottom:2vw;
	}
	.history .year::after{
		display:none;
	}

	.history .h_detail{
		float:none;
		position:relative;
	}
	.history .h_detail::after{
		display:none;
	}

	.history_right .year{
		float:right;
		font-size:2vw;
		font-weight:500;
		margin-left:none;
		margin-bottom:2vw;
	}
	.history_right .year::after{
		display:none;
	}

	.history_right .h_detail{
		float:none;
		position:relative;
	}
	.history_right .h_detail::after{
		content:"";
		position:absolute;
		top:10%;
		right:-10.6%;
		width:0.05vw;
		height:60vh;
		background-color:#dbdbdc;
	}

	table.month{
		border-collapse:collapse;
	}

	table.month td{
		font-size:1.4vw;
	}
	table.month td:first-child{
		padding:1vw 1vw 0 0;
		font-weight:500;
	}
	table.month td:last-child{
		color:#7c7b7c;
		padding:1vw 1vw 0 0;
	}

	/* ===== ethics ===== */
	#ethics{
		padding:0 22% 20vw;
	}

	.ethics_title{
		font-size:2.4vw;
		font-weight:700;
		color:#e72f2c;
		display:block;
		padding:0 0 2.5vw;
	}

	.eth_left{
		float:none;
		width:100%;
		height:25vw;
		margin-top:3vw;
	}
	.eth_photo{
		float:right;
		width:33%;
		height:28vw;
		margin-top:2vw;
		display:none;
	}
	.eth_photo{
		background:url("../img/ethic.jpg") no-repeat 70% center;
		background-size:cover;
	}
	.eth_left li{
		box-sizing:border-box;
		width:100%;
		padding-left:30%;
		padding-top:2%;
		font-size:1.4vw;
		line-height:2.2vw;
		margin-bottom:3vw;
	}
	.el_color{
		display:block;
		color:#e72f2c;
		font-weight:600;
		font-size:1.4vw;
	}
	.eth_left li:nth-child(1){
		background:url("../img/eth1.png") no-repeat 12% center;
		background-size:12% auto;
	}
	.eth_left li:nth-child(2){
		background:url("../img/eth2.png") no-repeat 12% center;
		background-size:12% auto;
	}
	.eth_left li:nth-child(3){
		background:url("../img/eth3.png") no-repeat 12% center;
		background-size:12% auto;
	}
	.eth_left li:nth-child(4){
		background:url("../img/eth4.png") no-repeat 12% center;
		background-size:12% auto;
	}

	/* ===== NHN 회사정보 #info ===== */
	#info{
		padding:5% 8% 0;
	}
	.info_text{
		float:left;
		font-size:2vw;
		font-weight:600;
		width:11%;
	}
	.info_table{
		float:right;
		border-top:3px solid red;
		width:75%;
		margin-left:7vw;
		border-collapse:collapse;
	}
	.info_table tr{
		display:block;
		padding:2vw 0;
		border-bottom:1px solid #dbdbdc;
	}
	.info_table td{
		display:inline-block;
		font-size:1.4vw;
	}
	.info_table td:first-child{
		margin-right:7vw;
		font-weight:500;
	}
	.info_table td:last-child{
		color:#7c7c7c;
	}

	/* ===== 다운로드 ===== */
	#download{
		padding:10% 8%;
	}
	.down{
		overflow:hidden;
		padding:3% 0;
	}
	.down_title{
		float:left;
		font-size:2vw;
		font-weight:600;
		width:10vw;
	}
	.down_right{
		float:left;
		margin-left:11vw;
		width:70%;
	}

	.down_link{
		float:left;
		width:20vw;
		text-align:center;
	}

	.down_link a{
		display:block;
		padding:1.6vw 0;
		color:#000;
		border:1px solid #dbdbdc;
		transition:background-color 0.2s;
		font-size:1.4vw;
	}
	.down_link.dk_on a{
		background-color:#e72f2c;
		color:#fff;
		border:1px solid #e72f2c;
	}


	.down_link:first-child{
		margin-right:5vw;
	}
	.go_top button{
		padding:1.4vw 1.8vw;
		display:block;
		cursor:pointer;
		color:#e72f2c;
		background-color:#fff;
		border:none;
		font-weight:100;
		font-size:1.8vw;
		border:1px solid #e72f2c;
	}

	/* ===== footer ===== */

	footer{
		border-top:1px solid #dbdbdc;
		padding:2% 8%;
		overflow:hidden;
	}
	.f_logo{
		float:left;
		margin-top:1vw;
		width:8vw;
	}
	.f_logo img{
		width:100%;
		height:auto;
	} 
	.footer_link{
		float:left;
		margin-top:0.8vw;
		margin-left:5vw;
	}
	.footer_link li{
		float:left;
	}
	.footer_link li:first-child{
		margin-right:2vw;
		position:relative;
	}

	.footer_link li:first-child::after{
		content:"";
		position:absolute;
		display:block;
		top:30%;
		right:-1vw;
		width:0.05vw;
		height:70%;
		background-color:#c0bfbf;
	}

	.footer_link li a{
		color:#c0bfbf;
		font-size:1.2vw;
	}
	.footer_link li a:hover{
		color:#000;
	}

	.footer_sns{
		float:right;
		width:20%;
		text-align:right;
		margin-top:0.8vw;
		box-sizing:border-box;
	}
	.footer_sns li{
		float:left;
		width:31%;
		text-align:right;
		box-sizing:border-box;
	}
	.footer_sns li:nth-child(2){
		-margin-top:1%;
		margin-left:5%;
	}
	.footer_sns li img{
		width:40%;
		height:auto;
	}
	.footer_sns li:last-child img{
		width:15%;
		height:auto;
	}
}

@media all and (max-width:767px){
	body{
		overflow-x:hidden;
		background:url("../img/bodybg.png") no-repeat 20% 22%;
		background-size:45% auto;

	}
	header{
		padding:5vw 0;	
	}
	#intro_top{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		padding:24% 0 22%;
		background:url("../img/introbg.png") no-repeat center center;
		background-size:cover;
		
	}
	.slidemenu_wrap{
		display:none;
	}
	#sideinfo{
		display:none;
	}
	
	.right_btn{
		display:none;
	}

	#mainlogo{
		display:block;
		float:left;
		width:50px;
		margin-top:-6px;
	}
	
	
	#mainlogo_m{
		display:none;
	}
	.nav_bar{
		display:none;
	}
	.nav_bar_s{
		display:block;
		float:right;
		margin-top:-5px;
		width:16px;
		height:15px;
		background:url("../img/ham.png") no-repeat;
		background-size:cover;
		cursor:pointer;
	}
	
	.nav_bar_menu_s{
		display:none;
		position:absolute;
		top:35%;
		height:28px;
		right:5%;
	}
	.nav_bar_menu_s li{
		float:left;
		margin-right:2.5vw;
	}
	.nav_bar_menu_s li a{
		color:#fff;
		font-size:2vw;
		font-weight:500;
		text-align:center;
	}
	.nav_bar_menu_s li a:hover{
		text-decoration:underline;
	}

	.it_text1{
		font-size:4.5vw;
		font-weight:500;
		letter-spacing:0.2vw;
	}
	.it_text{
		text-align:center;
		font-size:2.6vw;
		color:#fff;
	}
	.menu_tab{
		width:30%;
	}
	.menu_tab li a{
		font-size:2vw;
	}

	/* ===== sect1 ===== */
	#sect1{
		margin-top:70%;
		padding-left:8%;
	}
	.sect1_text1{
		font-size:4vw;
		font-weight:500;
		line-height:5.2vw;
		-text-align:center;
	}
	.sect1_text2{
		padding-top:2vw;
		font-size:2vw;
		line-height:4vw;
		color:#7c7c7c;
		-text-align:center;
	}
	/* ===== #sect2 ===== */
	#sect2{
		width:80%;
		float:right;
		margin-top:30vw;
	}
	.sect2_img img{
		width:100%;
		height:auto;
	}
	.sect2_text1{
		color:#7c7c7c;
		text-align:right;
		padding:0.5vw 1vw;
		font-size:2.5vw;
	}
	.sect2_text2{
		color:#7c7c7c;
		font-size:2.5vw;
	}

	/* ===== history ===== */
	#sect_history{
		padding:10% 8%;
	}

	.sh_text1{
		font-size:3vw;
		font-weight:700;
		color:#e72f2c;
		display:block;
		padding:2.5vw 0;
		margin-bottom:2vw;
	}

	.history .year{
		float:none;
		font-size:3vw;
		font-weight:500;
		margin-right:none;
		margin-bottom:2vw;
	}
	.history .year::after{
		display:none;
	}

	.history .h_detail{
		float:none;
		position:relative;
	}
	.history .h_detail::after{
		display:none;
	}

	.history_right .year{
		float:right;
		font-size:3vw;
		font-weight:500;
		margin-left:none;
		margin-bottom:2vw;
	}
	.history_right .year::after{
		display:none;
	}

	.history_right .h_detail{
		float:none;
		position:relative;
	}
	.history_right .h_detail::after{
		content:"";
		position:absolute;
		top:10%;
		right:-10.6%;
		width:0.05vw;
		height:60vh;
		background-color:#dbdbdc;
	}

	table.month{
		border-collapse:collapse;
	}

	table.month td{
		font-size:2vw;
	}
	table.month td:first-child{
		padding:1vw 1vw 0 0;
		font-weight:500;
	}
	table.month td:last-child{
		color:#7c7b7c;
		padding:1vw 1vw 0 0;
	}

	/* ===== ethics ===== */
	#ethics{
		padding:0 14% 30vw;
	}

	.ethics_title{
		font-size:3vw;
		font-weight:700;
		color:#e72f2c;
		display:block;
		padding:0 0 2.5vw;
	}

	.eth_left{
		float:none;
		width:100%;
		height:25vw;
		margin-top:3vw;
	}
	.eth_photo{
		float:right;
		width:33%;
		height:28vw;
		margin-top:2vw;
		display:none;
	}
	.eth_photo{
		background:url("../img/ethic.jpg") no-repeat 70% center;
		background-size:cover;
	}
	.eth_left li{
		box-sizing:border-box;
		width:100%;
		padding-left:30%;
		padding-top:2%;
		font-size:2vw;
		line-height:3vw;
		margin-bottom:5vw;
	}
	.el_color{
		display:block;
		color:#e72f2c;
		font-weight:600;
		font-size:2vw;
	}
	.eth_left li:nth-child(1){
		background:url("../img/eth1.png") no-repeat 12% center;
		background-size:11% auto;
	}
	.eth_left li:nth-child(2){
		background:url("../img/eth2.png") no-repeat 12% center;
		background-size:11% auto;
	}
	.eth_left li:nth-child(3){
		background:url("../img/eth3.png") no-repeat 12% center;
		background-size:11% auto;
	}
	.eth_left li:nth-child(4){
		background:url("../img/eth4.png") no-repeat 12% center;
		background-size:11% auto;
	}

	/* ===== NHN 회사정보 #info ===== */
	#info{
		padding:5% 8% 0;
	}
	.info_text{
		float:left;
		font-size:3vw;
		font-weight:600;
		width:15%;
	}
	.info_table{
		float:right;
		border-top:1px solid red;
		width:70%;
		margin-left:7vw;
		border-collapse:collapse;
	}
	.info_table tr{
		display:block;
		padding:2vw 0;
		border-bottom:1px solid #dbdbdc;
	}
	.info_table td{
		display:inline-block;
		font-size:2vw;
	}
	.info_table td:first-child{
		margin-right:2vw;
		font-weight:500;
	}
	.info_table td:last-child{
		color:#7c7c7c;
	}

	/* ===== 다운로드 ===== */
	#download{
		padding:10% 8%;
	}
	.down{
		overflow:hidden;
		padding:3% 0;
	}
	.down_title{
		float:left;
		font-size:3vw;
		font-weight:600;
		width:15vw;
	}
	.down_right{
		float:right;
		margin-left:8vw;
		width:70%;
		margin-top:1vw;
	}

	.down_link{
		float:left;
		width:18vw;
		text-align:center;
	}

	.down_link a{
		display:block;
		padding:1.6vw 0;
		color:#000;
		border:1px solid #dbdbdc;
		transition:background-color 0.2s;
		font-size:2vw;
	}
	.down_link.dk_on a{
		background-color:#e72f2c;
		color:#fff;
		border:1px solid #e72f2c;
	}

	.down_link:first-child{
		margin-right:5vw;
	}
	.go_top button{
		padding:1.4vw 1.8vw;
		display:block;
		cursor:pointer;
		color:#e72f2c;
		background-color:#fff;
		border:none;
		font-weight:100;
		font-size:1.8vw;
		border:1px solid #e72f2c;
	}

	.footer_link li a{
		color:#c0bfbf;
		font-size:3vw;
	}

	
}